/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Typo */
* {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

/* Common */
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn--action {
  color: #B1B1B1;
  margin: 5px;
  font-size: 18px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.text--sub {
  font-size: 14px;
  font-weight: 500;
}

.text--contact-access {
  color: #61696C;
}

.text--notifications {
  color: #466B7C;
}

.text--msg-date {
  color: #61696C;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

/* BODY */
.body__container {
  height: 100vh;
  background: linear-gradient(0deg,
    #DBDBD2 85%,
    #009688 84%
    );
    padding: 30px 0;
}

/* Main-app */
#main-app {
  height: 100%;
  min-width: 950px;
  width: 80%;
  background-color: white;
  margin: auto;
  display: flex;
}

/* Aside */
.main-app__aside {
  width: 35%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
}

/* Header */
.main-app__header {
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.header__user,
.aside__notifications {
  display: flex;
  align-items: center;
}

.header__avatar {
  width: 50px;
  border-radius: 50%;
}

/* Notifications */
.aside__notifications {
  background-color: #8EDAFC;
  padding: 12px 18px;
}

.fa-bell-slash {
  color: #8EDAFC;
  background-color: white;
  width: 43px;
  height: 45px;
  border-radius: 50%;
  margin-right: 12px;
  line-height: 45px;
  text-align: center;
}

/* Search-bar */

.aside__contact-search {
  display: flex;
  height: 40px;
  padding: 5px;
  background-color: #F3EEEA;
}

.btn--search-bar {
  color: #B1B1B1;
  font-size: 14px;
  border: 1px solid #EAEAEA;
  width: 75px;
  height: 100%;
  text-align: center;
  line-height: 30px;
  background-color: white;
}

.search-input {
  width: 100%;
  font-size: 15px;
  padding: 0 6px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  border-left: none;
}

/* Contacts */
.aside__contacts {
  overflow-y: scroll;
  height: 100%;
}

.contact-box {
  padding: 10px;
}

.contact-box:not(:last-child){
  border-bottom: 1px solid #EAEAEA;
}

.contact-img {
  width: 55px;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 12px;
}


/* Main */
.main-app__main {
  width: 65%;
  background-image: url(../img/mine.jpg);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  position: relative;
}

/* Header */
.main-app__main .main-app__header {
  width: 100%;
  flex-shrink: 0;
}

.main-app__main .header__avatar {
  margin-right: 12px;
}

/* Messages-window */
.messages-window {
  padding: 60px 0 135px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
}

.wrapper:not(:last-child) {
  margin-bottom: 15px;
}

.msg {
  min-width: max-content;
  width: 30%;
  padding: 15px 12px 18px;
  border-radius: 8px;
  position: relative;
}

.sent {
  background-color: #D5F9BA;
  float: right;
  margin-right: 10%;
}

.received {
  background-color: #fff;
  float: left;
  margin-left: 10%;
}

/* Message-bar */
.message-bar {
  background-color: #F3EEEA;
  padding: 5px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.btn--msg-bar {
  color: #6B7376;
  font-size: 22px;
  padding: 0 30px;
}

.user-msg {
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
}
