<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="body__container">
    <div id="main-app">
      <aside class="main-app__aside">
        <header class="main-app__header">
          <div class="header__user">
            <img class="header__avatar" src="img/avatar_io.jpg" alt="user avatar">
            <span>NomeUtente</span>
          </div>
          <div class="header__actions">
            <i class="btn btn--action fas fa-circle-notch"></i>
            <i class="btn btn--action fas fa-comment-alt"></i>
            <i class="btn btn--action fas fa-ellipsis-v"></i>
          </div>
        </header>
        <div class="aside__notifications">
          <i class="fas fa-bell-slash"></i>
          <span>Ricevi notifiche di nuovi messaggi <br>
            <a href="#" class="text--sub text--notifications">Attiva notifiche desktop</a>
          </span>
        </div>
        <div class="aside__contact-search">
          <label for="search-bar" class="btn btn--search-bar"><i class="fas fa-search"></i></label>
          <input id="search-bar" class="text--sub" type="text" name="search-bar" placeholder="Cerca o inizia una nuova chat"
          v-model="searchVal" @keyup="searchContact()" value="">
        </div>
        <div class="aside__contacts">
          <div v-for="(contact, i) in contacts" v-show="contact.visible" @click="setActive(i)" class="contact-box" v-bind:class="{'active': contactActive == contacts[i]}">
            <img class="contact-img" v-bind:src="'img/avatar' + contact.avatar + '.jpg'" v-bind:alt="contact.name">
            <span>{{contact.name}}</span>
          </div>
        </div>
      </aside>
      <main class="main-app__main">
        <header v-if="contactActive != null" class="main-app__header">
          <div class="header__user">
            <img class="header__avatar" v-bind:src="'img/avatar' + contactActive.avatar + '.jpg'" v-bind:alt="contactActive.name">
            <span>{{contactActive.name}}<br>
              <span class="text--sub text--contact-access" :key="contactActive.accessDate">{{contactActive.accessDate}}</span>
            </span>
          </div>
          <div class="header__actions">
            <i class="btn btn--action fas fa-search"></i>
            <i class="btn btn--action fas fa-paperclip"></i>
            <i class="btn btn--action fas fa-ellipsis-v"></i>
          </div>
        </header>
        <div v-if="contactActive != null" class="messages-window">
          <div class="wrapper clearfix" v-for="msg in contactActive.messages">
            <div class="msg" v-bind:class="msg.status == 'sent'? 'sent' : 'received'">{{msg.message}}<span class="text--msg-date">{{msg.date}}</span></div>
          </div>
        </div>
        <div v-if="contactActive != null" class="message-bar">
          <i class="btn btn--msg-bar far fa-smile"></i>
          <input v-on:keydown.enter="sendMsg()" class="user-msg" type="text" name="user-msg" placeholder="Scrivi un messaggio" v-model="chatMsgInput" value="">
          <i class="btn btn--msg-bar fas fa-microphone"></i>
        </div>
      </main>
    </div>
  </div>
  <script src="js/contacts.js" charset="utf-8"></script>
</body>
</html>
